asgiref==3.5.2
bcrypt==4.0.1
channels==4.0.0
dj-database-url==1.2.0
Django==4.1.4
django-cors-headers==3.13.0
djangorestframework==3.14.0
gunicorn==20.1.0
psycopg2==2.9.5
psycopg2-binary==2.9.5
python-decouple==3.7
python-dotenv==0.21.0
pytz==2022.7
PyYAML==6.0
six==1.16.0
sqlparse==0.4.3
watchfiles==0.18.1
whitenoise==6.3.0
